# C++ / CMake
build/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
*.obj
*.o
*.lo
*.la
*.al
*.so
*.so.*
*.dylib
*.dll
*.exe
*.exp
*.lib
*.pdb
*.ilk
*.idb
*.pch
*.manifest
*.tmp
*.log
*.a
*.d
*.gcno
*.gcda
*.gcov
*.ipch
*.aps
*.ncb
*.suo
*.user
*.sln
*.vcxproj*
*.class
*.swp
*.DS_Store
.vscode/
.idea/
*.code-workspace
.vs/
# Generated
Testing/
*.cmake